

/***************************************************************************************/
/*
/*		Designed by 'AS Designing'
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*		License: GNU/GPL
/*
/**************************************************************************************/

body
{
	font-family: Tahoma, Geneva, sans-serif, Arial;	font-size: 12px;	}

a, #featured-row .mod-newsflash .item:hover h2
{
	}

a:hover,
a.selected
{
	}


/**************************************************************************************/
/*   Forms																			  */


input,
button,
select,
textarea
{
	font-family: Tahoma, Geneva, sans-serif, Arial;}


/**************************************************************************************/
/*   Headings and Titles															  */


h1,
h2,
h3,
h4,
h5,
.call-us,
.item_header .item_title,
#member-registration legend
{
    font-family: 'Open Sans', Arial, serif !important;}

h1
{
		}

h2
{
		}

h3,
.item_header .item_title
{
		}

h4
{
			
}

h5
{
			
}


/**************************************************************************************/
/*   Lists																			  */


.categories-module li a,
.archive-module li a
{
	}

.categories-module li a:hover,
.archive-module li a:hover
{
	}


/**************************************************************************************/
/*   Buttons																		  */


a.btn,
.btn_info,
.btn-info,
.btn-group button.btn,
.btn-primary,
.btn_primary,
.contentpane .button
{
			

	}

a.btn:hover,
.btn_info:hover,
.btn-info:hover,
.btn_info:active,
.btn-info:active,
.btn_info.active,
.btn-info.active,
.btn_info.disabled,
.btn-info.disabled,
.btn_info[disabled],
.btn-info[disabled],
.btn-primary:hover,
.btn_primary:hover,
.btn-primary:active,
.btn_primary:active,
.btn-primary.active,
.btn_primary.active,
.btn-primary.disabled,
.btn_primary.disabled,
.btn-primary[disabled],
.btn_primary[disabled],
.contentpane .button:hover
{
				
}


/**************************************************************************************/
/*   Logo Row		  																  */


#header-row .moduletable.call-now
{
	}

#header-row .moduletable.call-now div
{
    font-family: 'Open Sans', Arial, serif !important;}

#header-row .logo
{
	float: left;
	line-height: 60px;
	min-width: 240px;
}

#header-row .logo,
#header-row .logo a,
#header-row .logo a:hover
{
	font-family: Tahoma, Geneva, sans-serif, Arial;		font-style: normal;	font-weight: normal;	}

#header-row .logo span.slogan
{
	left: 5px;
	top: 0px;
	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	font-style: normal;	font-weight: normal;		
}


/**************************************************************************************/
/*   Footer
/**************************************************************************************/
/**************************************************************************************/


#footer-row ul.nav li a
{
	}

#footer-row ul.nav li a:hover
{
	}

#copyright-menu li a,
#copyright-menu li.current a,
#copyright-menu li.active a
{
	}

#copyright-menu li a:hover
{
	}


